
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(red,yellow);
 
}

canvas {
  height: 300px;
  width: 500px;
  margin-top: 50px;
  margin-left:50px;
}